<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>My Weather App</title>
    
        <link rel="stylesheet" href="stylesheets/style.css">

    
    
    
  </head>

  <body>

    <body onload="init()">
  <div id="bg">
    <div class="module">
      <div id="date" class="date">

      </div>

      <div id="weatherIcon" class="weatherIcon">

      </div>

      <div id="cTemp" class="temp">

      </div>
      
      <div id="hTemp" class="temp">

      </div>

      <div id="lTemp" class="temp">

      </div>

      <div id="time" class="time">

      </div>
    </div>
  </div>
</body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/weather.js"></script>

    
    
    
  </body>
</html>
